{% extends 'base.html' %}
{% block content %}
<div class="main_board">
  <div class="main_title">
    목표 리스트!
  </div>
  <div class="sub_board">
    <div class="finish_goal_list">
        9
    </div>
    <div class="make_goal_list">
      <div class="goal_item">
        <div class="goal_">
          asdasㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁ
        </div>
        <a class="btn btn-success" style="margin-left:10px;" href="https://www.example.com">
          성공!
        </a>
        <a class="btn btn-primary" style="margin-left:10px;" href="https://www.example.com">
          상세보기
        </a>
      </div>
      <div class="btn btn-primary add_item_goal">
      목표 만들기
      </div>
    </div>
  </div>
</div>
{% endblock %}
