{% extends 'base.html' %}
{% block style %}
<link rel="stylesheet" href="/static/make_goal.css">
{% endblock %}
{% block content %}
	<form class="form_main" method="POST" action="">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" class="form-control" name="subject" placeholder="목표 입력">
        </div>
        <div class="form-group">
            <textarea class="sub_main" name="content" placeholder="부가 설명"></textarea>
        </div>
        <div class="form-group" style="width:220px">
            <label for="">목표 일자</label>
            <input type="date" name="end_date">
        </div>
        <a href="/" class="btn btn-primary" style="width:100px;height:50px;">back</a>
        <button type="submit" class="subtton btn btn-primary">Submit</button>
    </form>
{% endblock %}
